<!--template-->
<h3>Benvenuto!</h3>
<br>
<label for="currentThr">La tua offerta massima corrente è </label>
<span id="currentThr"></span>
<br>
<br>
<form id="adminForm" action="/" method="POST">
    <div class="form-group">
        <label for="thr">Imposta nuova offerta:</label>
        <input required id="thr" type="number" name="thr" class="form-control" placeholder="inserisci offerta" min="0" step="0.01">
    </div>
    <button id="logoutButton" class="btn btn-danger" onclick="logoutCallback()">Logout</button>
    <button id="sendThrButton" type="submit" class="btn btn-success">Invia!</button>
</form>

<script src="src/app/controller/admin.js"></script>
