#content {
    /*posizione*/
    border-left: #4DB6AC;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
}

.separator {
    border-top: 2px solid #4DB6AC !important;
}


/**********************************************************************************/
/****************************+     Bootstrap Rewrite     +*************************/

.container {
    background-color: #FFF !important;
}

.btn {
    border-radius: 0px;
    border-width: 0px;
    width: 68px;
    padding: 6px 6px;
}


/**********************************************************************************/
/****************************+     My Custom Classes     +*************************/

.my-header {
    background-image: url('../../img/header-bg-small.png');
    height: 250px;
    position: relative;
    margin-bottom: 0px;
}

.my-title {
    color: #ECEFF1;
    margin: 30px;
    font-size: 600%;
}

.my-sub-title {
    color: #546E7A;
    position:absolute;
    bottom: 10px;
    margin-left: 30px;
    font-size: 135%;
}

.my-left-menu{
    background-color: #fafafa;
    padding-bottom: 15px;
    border-right: 1px solid rgba(0,0,0,.14);
    height: 300px;
}